body {
  padding-top: 1%;
  height: fit-content;
  padding-bottom: 1%;
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d2c0ed' fill-opacity='0.19'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  */

  background-color: #f0e6e4;
}
/*//////////////////////// nAVbaR ////////////////////////////*/
.navbar {
  margin: auto;
  padding-top: 1%;
  width: max(280px, 70%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: max(2vw, 16px);
  align-items: baseline;
}
.navbar__title {
  text-align: center;
}

.navbar__addItem {
  font-size: max(1.5rem, 1.5vw);
  min-width: 30px;
  width: 2vw;
  border-radius: 10000px;
  margin-bottom: 1%;
  background-color: #b9b1af;
}
.navbar__addItem:hover {
  background-color: #706c6b;
}
/*                        */

.content {
  display: grid;
  width: max(280px, 70%);
  margin: auto;
  padding: max(1%, 16px) max(1%, 16px);
  grid-template-columns: 1fr 9fr;
  min-height: 70vh;
  height: fit-content;
  gap: 16px;
  background-color: #706c6b;
  color: white;
  box-shadow: 1vw 1vw 3vw black;
}
.content__directory {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #b9b1af;
  padding-top: 16px;
  min-height: 57%;
  height: fit-content;
  box-shadow: 0.5vw 0.5vw 1.5vw black;
}
.hello {
  text-align: center;
}

/*//////////////////////// Notes areas ////////////////////////////*/
.content__notes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.note__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #b9b1af;
  box-shadow: 0.5vw 0.5vw 1.5vw black;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.note-body__divider {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  align-items: center;
  gap: 16px;
  width: fit-content;
}

.importance {
  grid-template-columns: 1fr;
  justify-self: end;
  padding-right: 2%;
}

.note_finished {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.note_finished:hover {
  background-color: #706c6b;
}
.note__title {
  overflow-wrap: break-word;
}

.book__button {
  width: fit-content;
  background-color: #b9b1af;
  border: white 2px solid;
  border-right: none;
  border-bottom: none;
  border-radius: 12px;
}

.book__button:hover {
  background-color: #706c6b;
}
.book__button:active {
  border: white 2px solid;
  border-left: none;
  border-top: none;
}

.notes__book {
  width: min(40px, 7vw);
}
.overlay {
  background-color: #b9b1af;
  position: fixed;
  width: min(700px, 85%);
  height: max(700px, 20%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 100px 100px 100vh 100vw rgba(0, 0, 0, 0.59);
}
.text {
  resize: none;
  background-color: #b9b1af;
  width: 99.5%;
  height: 100%;
  margin-top: 5%;
  border: none;
}
